{% extends 'dashboard/base.html'%}

{% load crispy_forms_tags %}

{% block content %}


<div class="container">

    <hr>  
    <div class="row justify-content-center my-3 ">
        
        <div class="col-sm-5 border p-5 shadow  rounded">
            {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-warning alert-dismissible my-3  " role="alert">
                    <button type="button" class="close w-25" data-dismiss="alert" aria-label="Close">x</button>
                    

                    {{msg.message}}
                </div>
                {% endfor %}
        {% endif %}
        <h3>Add User</h3>
        <hr>
        <!-- <div class="alert alert-danger alert-dismissible my-3  " role="alert"> -->
            <!-- <h3>Change Password</h3> -->
        
             
            <form method = "post" enctype="multipart/form-data" novalidate>
                {%csrf_token%}
                <div class="form-group">
                    <label for="exampleFormControlInput1">Username</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name = "username">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" name = "password">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1" name = "usertype">
                      <option>admin</option>
                      <option>student</option>
                      <option>teacher</option>
                      
                    </select>
                  </div>
                  <button>submit</button>


                
              </form>
        </div>
    </div>
</div>




{% endblock %}





