{% extends 'base_tw.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto p-8">
    <h1 class="text-3xl font-semibold mb-6 text-center">Event Registration</h1>
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible relative" role="alert">
        <div class="bg-blue-500 text-white my-2 p-4 container mx-auto text-center rounded">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <form method="post" class="max-w-md mx-auto bg-white p-8 rounded-md shadow-md" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md">Submit</button>
    </form>
</div>
{% endblock content %}
